<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <a [routerLink]="['childToParent']">Child to Parent</a>
            </div>
            <div class="col-3">
                <a [routerLink]="['parentToChild']">Parent to Child</a>
            </div>
            <div class="col-3">
                <a [routerLink]="['detectChanges']">Detect Changes</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>